*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}

html, 
body{
   height: 100%;
   width: 100%;
}

body{
  background-color: #111;
}

.main{
  display: flex;
  flex-wrap: wrap;
}

.parent{
  width: 100%;
  padding: 20px;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  width: 400px;
  padding: 20px 10px;
  background-color: #333;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
}

.card  p{
  margin: 15px;
}
.card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.card button{
  background-color: #fff;
  color: black;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}