*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
}

input, button{
  padding: 20px 30px;
  margin: 20px;
  border-radius: 5px;
}