*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
}
html,
body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
}

.navbar{
  height: 80px;
  width: 100%;
  background-color: rgb(77, 128, 125);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.navbar h1{
  font-size: 20px;
}

.nav-links{
  display: flex;
  gap: 30px;
}

.NavbarProduct a{
  text-decoration: none;
}

.navbar a{
  text-decoration: none;
}

.main{
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavbarProduct{
  height: 80px;
  width: 100%;
  background-color: rgb(77, 128, 125);
  position: absolute;
  top: 10%;
  left: 0%;
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbar2{
  height: 80px;
  width: 100%;
  background-color: rgb(77, 128, 125);
  position: absolute;
  top: 10%;
  left: 0%;
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer{
  height: 65px;
  background-color: rgb(77, 128, 125);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer h1{
  font-size: 20px;
}

.btn{
  padding: 20px 30px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  top: 15%;
  left: 5%;
}

.btn2{
  padding: 20px 30px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  top: 15%;
  left: 15%;
}