*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

html,
body{
  height: 100%;
  width: 100%;
}


body{
  background-color: #111;
}

.nav{
  height: 70px;
  width: 100%;
  background-color: rgb(85, 104, 110);
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.nav-left a{
  text-decoration: none;
}

.nav-right ul{
  display: flex;
  gap: 30px;


}

.list {
  list-style: none; 
}

.list  a{
  text-decoration: none;
}
