*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  background-color: #111;
}

button{
  background-color: white;
  color: #000;
  padding: 10px 30px;
  margin-top: 20px;
}