/* @import "tailwindcss"; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}

html,
body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
}


.main{
  padding: 10px;
}

.image-container{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}
.image-container a{
  text-decoration: none;
}
.image-container img{
  height: 400px;
  width: 450px;
  object-fit: cover;
  border-radius: 10px;

}

.image-container h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  text-align: center;
  margin: 15px 15px;
}

.button-navigation{
  margin-top: 20px;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.button-navigation button{
  background-color: #464646;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
}

.button-navigation button:hover{
  background-color: #717070;
  transition: all 0.5s ease;
}