*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;
}
body{
  background: #111 ;
}

.parent{
  height: 100vh;
  width: 100%;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  height: 350px;
  width: 300px;
  border-radius: 10px;
  background-color: #fff;
  padding: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.count{
  text-transform: uppercase;
  background: #979797;
  padding: 40px 50px;
  border-radius: 10px;
  color: white;
}
.card-btn button{
  padding: 10px 20px;
  margin-right: 8px;
  border-radius: 5px;
  border: none;
  background-color: rgb(158, 162, 165);
  color: white;
  font-size: 15px;
  font-weight: 600;
  outline: none;
}

.card-btn button:hover{
  background-color: rgb(137, 140, 143);
  cursor: pointer;
  transition: all 0.4s ease;
}