*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, 
body{
   height: 100%;
   width: 100%;
}

.card{
  background-color: lightblue;
  margin: 20px 20px;
  padding: 30px 30px;
  border-radius: 10px;
}

.nav{
  background-color: rgb(135, 82, 157);
  margin: 20px 20px;
  padding: 30px 30px;
  border-radius: 10px;
}